# Auto detect text files and perform LF normalization
* text=auto

# Exclude from GitHub language statistics
*.md linguist-documentation
*.sh linguist-detectable=false
scripts/* linguist-detectable=false
*.lock linguist-generated
package-lock.json linguist-generated
dump.rdb binary
*.pdf binary linguist-documentation

# Ensure Java is the primary language
*.java linguist-detectable=true
src/**/*.java linguist-detectable=true
src/main/java/**/*.java linguist-detectable=true
src/test/java/**/*.java linguist-detectable=true
